@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

input,
textarea,
a,
button {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  transition: color 0.2s, background-color 0.2s;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 8px;
  height: 40px;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.show-scroll::-webkit-scrollbar {
  display: block;
}

.pulse {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  transform: scale(0) translateX(-50%) translateY(-50%);
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.button-container-2 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  overflow: hidden;
  border: 1px solid #000;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}

.button-container-2 button {
  width: 101%;
  height: 100%;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1px;
  cursor: pointer;
  animation: ani2 0.7s steps(29) forwards;
}

.button-container-2 button:hover {
  animation: ani 0.7s steps(29) forwards;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
